body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
	#header {
		background-color: #00dde0;
		color: white;
		text-align: center;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	form {
		background-color: #009699;
		color: white;
		float: left;
		width: 40%;
		padding: 20px;
		box-sizing: border-box;
	}
		form textarea {
			width: 100%;
		}
		form label {
			float: left;
			width: 50%;
			max-height: 20px;
		}
			form label[for="nerdy"]{
				width: 100%;
			}
		form select, form input {
			float: left;
			width: 50%;
		}
		form input {
			box-sizing: border-box;
		}
	#make-shirt {
		width: 60%;
		float: right;
		text-align: center;
		position: relative;
	}
		#make-shirt p {
			width: 180px;
			position: absolute;
			top: 30%;
			right: 40%;
			right: calc(50% - 90px);
			font-size: 20px;
			font-weight: bold;
		}
		#make-shirt #button-first,
		#make-shirt #button-second,
		#make-shirt #button-third {
			position: absolute;
			top: 0;
			right: 0;
			background-color: lightblue;
			color: white;
			padding: 5px 10px;
			border: none;
			cursor: pointer;
		}
		#make-shirt #button-second {
			top: 50px;
		}
		#make-shirt #button-third {
			top: 100px;
		}
	#saved-items {
		width: 100%;
	}
		#saved-items h2 {
			background-color: #00dde0;
			margin: 0;
			padding: 20px 0;
			color: white;
			text-align: center;
		}
		#saved-items p {
			width: auto;
			position: static;
			font-size: 16px;
			font-weight: normal;
		}
		#saved-items ul#saved-shirts {
			list-style: none;
			padding-left: 0;
		}
			#saved-items ul#saved-shirts li {
				width: 30%;
				height: auto;
				display: inline-block;
				position: relative;
			}
				#saved-items ul#saved-shirts li p {
					position: absolute;
					top: 30%;
					right: 45%;
					right: calc(50% - 85px);
					width: 130px;
				}
				#saved-items ul#saved-shirts li img {
					width: 100%;
				}
	#footer[role="footer"] {
		width: 100%;
		text-align: center;
		color: white;
		background-color: #005051;
		padding: 10px;
		box-sizing: border-box;
	}
	.clear {
		clear: both;
	}
	@media screen and (max-width: 40em){
		form {
			width: 100%;
		}
		#make-shirt {
			width: 100%;
		}
		#saved-items ul#saved-shirts li {
			width: 100%;
		}
	}

@supports(display:flex){
	body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
		#header {
			flex-basis: 100%;
			width: 100%;
			float: none;
		}
		form {
			align-items: flex-start;
			color: white;
			flex-basis: 40%;
			width: 40%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			float: none;
		}
			form textarea {
				align-self: flex-start;
				flex-basis: 100%;
				float: none;
			}
			form label {
				align-self: flex-start;
				flex-basis: 50%;
				width: 50%;
				float: none;
			}
				form label[for="nerdy"]{
					align-self: flex-start;
					flex-basis: 100%;
					width: 100%;
					float: none;
				}
			form select, form input {
				align-self: flex-start;
				flex-basis: 50%;
				width: 50%;
				float: none;
			}
		#make-shirt {
			float: none;
			flex-basis: 60%;
			width: 60%;
			text-align: center;
			position: relative;
		}
		#saved-items {
			float: none;
			flex-basis: 100%;
			width: 100%;
		}
		#footer[role="footer"] {
			float: none;
			flex-basis: 100%;
			width: 100%;
		}
		@media screen and (max-width: 40em){
			form {
				flex-basis: 100%;
				width: 100%;
			}
			#make-shirt {
				flex-basis: 100%;
				width: 100%;
			}
		}
}
